@{
    ViewData["Title"] = "Home Page";
}

<div id="chatDialog" title="Chat with support">
    <div id="chatMainPanel">
        <ul id="chatHistory"></ul>
        <div id="bottomPanel">
            <form id="chatForm">
                <input id="messageTextbox" type="text" placeholder="Type a message" />
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
</div>